.card {
    margin-top: 20px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.count {
    font-weight: bold;
}